.gallery {
    display: flex;
}

body {
    background-color: teal;
}

#background {
    background-color: teal;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#triangle {
    width: 300px;
    height: 550px;
    background-color: green;
    position: absolute;
    top: 20%;
    left: 17.5%;
}

#triangle1 {
    border-style: solid;
    border-width: 0 250px 700px 250px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: green;
    border-left-color: transparent;
    position: absolute;
    top: 200px;
    left: 1100px;
    z-index: 1;
}

#triangle1::after {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 250px 500px 250px;
    border-color: transparent transparent yellowgreen;
    position: absolute;
    top: 200px;
    left: 120px;
    margin-left: -50px;
}

.gline{
    width: 100%;
    height: 30px;
    background-color: yellowgreen;
    position: absolute;
    top: 927px;
    left: 0px;
}

#wline{
    width: 100%;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 910px;
    left: 0px;
}

#wline::after{
    content: "";
    width: 100%;
    height: 25px;
    background-color: white;
    position: absolute;
    top: -620px;
    left: 0px;
}

#wvline{
    width: 25px;
    height: 300px;
    background-color: white;
    position: absolute;
    top: 1px;
    left: 620px;
}

#wvline::after{
    content: "";
    width: 25px;
    height: 300px;
    background-color: white;
    position: absolute;
    top: 1px;
    left: 680px;
}

.circle1 {
    background-color: goldenrod;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 17%;
}

.circle2 {
    background-color: goldenrod;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 15%;
}

.circle3 {
    background-color: lightcoral;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    left: 3%;
}

.circle4 {
    background-color: lightcoral;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 26%;
    left: 3%;
    z-index: 1;
}

.circle5 {
    background-color: lightcoral;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 7%;
    left: 40%;
}

.circle6 {
    background-color: lightcoral;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 28%;
    z-index: 1;
}

.person1, .person2, .person3, .person4, .person5, .person6, .person7, .person8, .person9, .person0 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 80%;
    margin: auto;
    border-radius: 50%;
    background-color: turquoise;
}

.person1 {
    left: 1%;
}

.person2 {
    left: 5%;
}

.person3 {
    left: 9%;
}

.person4 {
    left: 13%;
}

.person5 {
    left: 17%;
}

.person6 {
    left: 21%;
}

.person7 {
    width: 3vw;
    height: 6vh;
    left: 25%;
    background-color: rgb(0, 0, 0);
}

.person8 {
    width: 3vw;
    height: 6vh;
    left: 29%;
    background-color: rgb(0, 0, 0);
}

.person9 {
    width: 3vw;
    height: 6vh;
    left: 33%;
    background-color: rgb(0, 0, 0);
}

.person0 {
    width: 3vw;
    height: 6vh;
    left: 37%;
    background-color: rgb(0, 0, 0);
}


.form-container {
    position: absolute;
    top: 5%;
    right: 1%;
}

